@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-image: url(./image/bg.jpg);
    background-color: rgba(76, 80, 80, 0.33);
    filter: blur(8px);
    -webkit-filter: blur(3px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    border: 2px solid #141039;
    border-radius: 20px;
    box-shadow: 5px 5px 8px  #141039;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
h1{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    padding: 1rem;
       font-style: italic;
       text-decoration: underline;
       text-decoration-style: wavy;
       font-size: 36px;
       text-shadow: 5px 4px 7px rgb(61, 53, 53);
      color: #141039;
}
label{
    
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 500;
    padding: 1rem;
       text-decoration: underline;
       text-decoration-style:dashed;
       font-size:24px;
       text-shadow: 2px 2px 3px rgb(61, 53, 53);
      color: #141039;
}
input{
    
    width: 10vw;
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    margin: .2rem;
    border: 2px solid #2f2a27;
    border-radius: 25px 10px 25px;
    box-shadow: 5px 5px 8px  #2f2a27;
    background-color:#2f2a2734 ;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    gap: 2rem;
    
}
.btn button{   
     border: 2px solid #2f2a27;
    border-radius: 25px 10px 25px;
    box-shadow: 5px 5px 8px  #2f2a27;
    background-color:#2f2a2734 ;
    padding: 8px;
    font-size: 16px;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
#displayTable{
    font-size: 20px;
    text-align: center;
     color: #141039;
     text-shadow: 3px 3px 4px rgb(61, 53, 53);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 800;
     border: 2px solid #141039;
  border-radius: 20px;
  box-shadow: 5px 5px 8px  #141039;
  background-color:#071e375a ;
width: 10vw;
 padding: .25rem;
 transition: all 6s ease-in-out ;
}
@media(max-width:1440px){
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:.5rem;
    }
    label{
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-style: italic;
        font-weight: 300;
        padding: 1rem;
           text-decoration: underline;
           text-decoration-style:dashed;
           font-size:24px;
           text-shadow: 2px 2px 3px rgb(61, 53, 53);
          color: #141039;
    }
    h1{
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        padding: 1rem;
           font-style: italic;
           text-decoration: underline;
           text-decoration-style: wavy;
           font-size: 36px;
           text-shadow: 5px 4px 7px rgb(61, 53, 53);
          color: #141039;
    }
    input{
    
        width: 15vw;
        font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 200;
        font-style: italic;
        margin: 10;
        border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        background-color:#2f2a2734 ;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        
    }
    .btn button{   
         border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        color: #FFF;
        background-color:#2f2a27 ;
        padding: 8px;
        font-size: 14px;
        font-style: italic;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100;
    }
     #displayTable {
        width: 20vw;
        font-size: 15px;  
        text-wrap: wrap;
        margin:  1rem;
        padding: .5rem;
        transition: all 6s ease-in-out ;
    }
   }
@media(max-width:1024px){
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:.5rem;
    }
    label{
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-style: italic;
        font-weight: 300;
        padding: 1rem;
           text-decoration: underline;
           text-decoration-style:dashed;
           font-size:24px;
           text-shadow: 2px 2px 3px rgb(61, 53, 53);
          color: #141039;
    }
    h1{
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        padding: 1rem;
           font-style: italic;
           text-decoration: underline;
           text-decoration-style: wavy;
           font-size: 36px;
           text-shadow: 5px 4px 7px rgb(61, 53, 53);
          color: #141039;
    }
    input{
    
        width: 15vw;
        font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 200;
        font-style: italic;
        margin: 10;
        border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        background-color:#2f2a2734 ;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        
    }
    .btn button{   
         border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        color: #FFF;
        background-color:#2f2a27 ;
        padding: 8px;
        font-size: 14px;
        font-style: italic;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100;
    }
     #displayTable {
        width: 20vw;
        font-size: 15px;  
        text-wrap: wrap;
        margin:  1rem;
        padding: .5rem;
        transition: all 6s ease-in-out ;
    }
   }
   @media(max-width:920px){
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:.2rem;
    }
    label{
    
        font-family: "Playfair Display", sans-serif;
        font-weight: 400;
        padding: .5rem;
           text-decoration: underline;
           text-decoration-style:dashed;
           font-size:18px;
   
    }
    h1{
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 200;
        padding: .25rem;
           font-style: italic;
           text-decoration: underline;
           text-decoration-style: wavy;
           font-size: 28px;
           text-shadow: 5px 4px 7px rgb(61, 53, 53);
          color: #141039;
    }
    input{
    
        width: 15vw;
        font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 200;
        font-style: italic;
        margin: 10;
        border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        background-color:#2f2a2734 ;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        
    }
    .btn button{   
         border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        color: #FFF;
        background-color:#2f2a27 ;
        padding: 4px;
        font-size: 10px;
        font-style: italic;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
    }
    #displayTable{
        font-size: 12px;
        width: 20vw;
        margin:  1rem;
        padding: .5rem;
        transition: all 6s ease-in-out ;
    }
   }
   @media(max-width:320px){
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:.5rem;
    }
    label{
    
        font-family: "Playfair Display", sans-serif;
        font-weight: 300;
        padding: .2rem;
           text-decoration: underline;
           text-decoration-style:dashed;
           font-size:15px;
   
    }
    h1{
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 200;
        padding: .4rem;
           font-style: italic;
           text-decoration: underline;
           text-decoration-style: wavy;
           font-size: 17px;
           text-shadow: 5px 4px 7px rgb(61, 53, 53);
          color: #141039;
    }
    input{
    
        width: 18vw;
        font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 200;
        font-style: italic;
        margin: 10;
        border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        background-color:#2f2a2734 ;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        
    }
    .btn button{   
         border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        color: #FFF;
        background-color:#2f2a27 ;
        padding: 4px;
        font-size: 10px;
        font-style: italic;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
    }
    #displayTable {
        text-wrap: wrap;
        width: 35vw;
        font-size: 8px;
        padding: .5rem;
        margin:  1rem;
        transition: all 2s ease-in-out ;
    }
 
 
   }
   @media(max-width:412px){
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:.5rem;
    }
    label{
    
        font-family: "Playfair Display", sans-serif;
        font-weight: 300;
        padding: .2rem;
           text-decoration: underline;
           text-decoration-style:dashed;
           font-size:20px;
   
    }
    h1{
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 200;
        padding: .4rem;
           font-style: italic;
           text-decoration: underline;
           text-decoration-style: wavy;
           font-size: 20px;
           text-shadow: 5px 4px 7px rgb(61, 53, 53);
          color: #141039;
    }
    input{
    
        width: 25vw;
        font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
        margin: 10;
        border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        background-color:#2f2a2734 ;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        gap: 1rem;
        
    }
    .btn button{   
         border: 2px solid #2f2a27;
        border-radius: 25px 10px 25px;
        box-shadow: 5px 5px 8px  #2f2a27;
        color: #FFF;
        background-color:#2f2a27 ;
        padding: 4px;
        font-size: 18px;
        font-style: italic;
        font-weight: 200;
    }
    #displayTable {
        text-wrap: wrap;
        width: 38vw;
        font-size: 16px;
        padding: .5rem;
        margin:  1rem;
        transition: all 2s ease-in-out ;
    }
 
 
   }